.cmain{
    background-color: #f3f3f3;
    color: #666;
    .ctop{
        line-height: 32px;
        margin: 0 0 20px 0;
        padding-top: 15px;
        i{
            font-size: 24px;
            vertical-align: center;
        }
       h2{
           padding-left: 10px;
       }
    }
    .cnav{
        margin-bottom: 10px;
        padding: 10px;
        background-color: #fff;
        span:nth-child(1){
            display: inline-block;
            width: 155px;
            margin-right: 30px;
        }
        span:nth-child(2){
            display: inline-block;
            width: 150px;
            margin-right: 323px;
        }
        span:nth-child(3),span:nth-child(4),span:nth-child(5),span:nth-child(6){
            display: inline-block;
            width: 122px;
            text-align: center;
        }
    }
    .ccon{
        margin-bottom: 10px;
        li{
            background-color: #fff;
            padding: 8px 0 8px 10px;
            height: 141px;
            .ccon_mes{
                margin-right: 220px;
                width: 476px;
                margin-top: 54px;
                img{
                    display: inline-block;
                    width: 72px;
                    height: 72px;
                }
                span{
                  
                    display: inline-block;
                    width: 320px;
                    height: 26px;
                }
            }
            .ccon_pr{
                width: 122px;
                height: 157px;
                line-height: 157px;
                text-align: center;
            }
            .ccon_num{
                width: 72px;
                height: 25px;
                border: 1px solid #ccc;
                margin: 64px 26px;
                input{
                    display: inline-block;
                    width: 34px;
                    height: 25px;
                    text-align: center;
                }
                a{
                    display: inline-block;
                    width: 18px;
                    height: 25px;
                   text-align: center;
                }
                a:nth-child(1){
                    border-right: 1px solid #ccc;
                }
                a:last-child{
                    border-left: 1px solid #ccc;
                }
            }
            .ccon_total{
                width: 122px;
                height: 157px;
                line-height: 157px;
                text-align: center;
            }
            .ccon_opera{
                width: 122px;
                height: 157px;
                line-height: 157px;
                text-align: center;
            }
        }
    }
    // .cart_d_fboxall{
    //     .cart_d_fcount{
    //         width: 100%;
    //         background-color: #fff;
    //         text-align: right;
    //         span{
    //             color: #e5004b;
    //         }
    //     }
    // }
    .cart_d_fbox{
        margin-top: 20px;
        .cart_d_subbtn {
            font-size: 18px;
            color: #FFF;
            background-color: #e5004b;
            padding: 4px 30px;
            border: none;
            cursor: pointer;
        }
    }
   
}
