.ret {
    padding: 20px 0px;
    background: #f2f2f2;
    a {
        display: inline-block;
        float: left;
        width: 155px;
    }
    span {
        float: left;
        width: 140px;
        height: 53px;
        padding-left: 30px;
        margin-top: 10px;
        margin-left: 35px;
        font-size: 28px;
        line-height: 50px;
        color: #333333;
        border-left: 1px solid #dbdbdb;
    }
}

.rec {
    height: 481px;
    background: url('../src/img/registercen.jpg') center center;
    position: relative;
    .recr {
        background: #fff;
        width: 340px;
        height: 390px;
        position: absolute;
        top: 46px;
        right: 46px;
        border: 1px solid #dbdbdb;
        .recr_header {
            margin: 25px 22px 5px 22px;
            span {
                font-size: 18px;
                color: #686565;
                font-weight: 700;
            }
            .recr_r {
                font-size: 12px;
                color: #999999;
                a {
                    color: #137ce9;
                }
            }
        }
        .login_error_section {
            height: 22px;
            line-height: 22px;
            .error_tips {
                margin: 0 22px 0 22px;
                color: #e5004b;
                line-height: 12px;
                display: none;
                i {
                    width: 22px;
                    height: 20px;
                    display: inline-block;
                    background: url(../img/login_icon.png) no-repeat;
                    background-position: 0px -240px;
                    position: relative;
                    top: 2px;
                    left: 0;
                }
            }
        }
        .login_account_total {
            margin: 10px 22px 0 22px;
            position: relative;
            .input_icon {
                padding: 8px 20px;
                height: 22px;
                font-size: 14px;
                font-weight: 400;
                display: inline-block;
                line-height: 1;
                color: #555;
                text-align: center;
                background-color: #f9f9f9;
                white-space: nowrap;
                vertical-align: middle;
                float: left;
                position: absolute;
                left: 2px;
                top: 2px;
            }
            .login_input_size {
                display: block;
                width: 231px;
                height: 40px;
                border: 1px solid #FFFFFF;
                background: #f9f9f9;
                padding: 0 20px 0 66px;
                line-height: 40px;
                float: left;
                font-size: 13px;
                color: #666;
            }
        }
        .login_password_total {
            margin: 10px 22px 0 22px;
            position: relative;
            .input_icon {
                padding: 8px 20px;
                height: 22px;
                font-size: 14px;
                font-weight: 400;
                display: inline-block;
                line-height: 1;
                color: #555;
                text-align: center;
                background-color: #f9f9f9;
                white-space: nowrap;
                vertical-align: middle;
                float: left;
                position: absolute;
                left: 2px;
                top: 2px;
            }
            .login_input_size {
                display: block;
                width: 231px;
                height: 40px;
                border: 1px solid #FFFFFF;
                background: #f9f9f9;
                padding: 0 20px 0 63px;
                line-height: 40px;
                float: left;
                font-size: 13px;
                color: #666;
            }
        }
        .code_total {
            margin: 10px 22px 0 22px;
            position: relative;
            .input_icon {
                padding: 8px 20px;
                height: 22px;
                font-size: 14px;
                font-weight: 400;
                display: inline-block;
                line-height: 1;
                color: #555;
                text-align: center;
                background-color: #f9f9f9;
                white-space: nowrap;
                vertical-align: middle;
                float: left;
                position: absolute;
                left: 2px;
                top: 2px;
            }
            .code_input_size {
                display: block;
                width: 112px;
                height: 40px;
                border: 1px solid #FFFFFF;
                padding: 0 10px 0 57px;
                float: left;
                color: #666;
                line-height: 40px;
                background: #f9f9f9;
            }
            .verifyimg{
                text-align: center;
                font-size: 20px;
                font-style: italic;
                letter-spacing:5px;
            }

        }
        .deal {
            margin: 10px 30px 10px 30px;
            line-height: 12px;
            color: #666;
            font-size: 12px;
            .a_blue {
                color: #137ce9;
            }
        }
        .res_submit {
            display: block;
            width: 295px;
            background: #e5004b;
            border: none;
            margin: 0 22px 0 22px;
            cursor: pointer;
            span {
                color: #FFF;
                line-height: 36px;
                font-size: 20px;
            }
        }
    }
}